#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#link-to-login {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: lightgray;
  border-radius: 10px;
}

ul {
  /* list-style: none; */
  text-align: left;
  max-width: 45vw;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-status {
  font-weight: bold;
}

.recommendation-msg {
  max-width: 45vw;
  margin: 0 auto;
  text-align: left;
  text-decoration: underline;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.status-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.status-list-section ul {
  background-color: lightgray;
  width: 80vw;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}