.mainContainer {
  /* background-color: lightgray; */
  width: 80vw;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.recommendationMsg {
  margin: 0 auto;
  max-width: 500px;
}

.recommendationMsg p {
  text-decoration: underline;
}